/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2016, 2:33:42 PM
    Author     : applozic
*/


/*integration*/
.panel-body {
    padding: 6px 1px;
}

.title{
    text-align: center;
}

.col-xs-6 a {
    padding: 6px;
    text-align: center !important;
    float: none !important;
}

.img-margin{ 
    margin-top: 10px;
}


