.bs-docs-masthead-main {
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom:10px;
}

.bs-docs-header {
	padding-top: 35px;
    padding-bottom: 35px;
}


.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

strong {
	margin-top: 10px;
}

pre {
	margin-bottom: 15px;
	position:relative;
	padding:30px 15px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}

.copy-button {
   cursor: pointer;
   border-image-source: initial;
   border-image-slice: initial;
   border-image-width: initial;
   border-image-outset: initial;
   border-image-repeat: initial;
   font-size: 10px;
   text-transform: uppercase;
   font-weight: 500;
   color: rgb(121, 85, 72);
   background-color: white;
   position: absolute;
   top: 0px;
   right: 0px;
   border-width: 0px;
   border-style: initial;
   border-color: initial;
   padding: 4px 16px;
   border: 1px solid #d5d5d5;
   border-radius: 3px;
   border-top: 0;
   border-right: 0;
}
.copy-button:hover,.copy-button:focus, .copy-button:active {
   outline: 0;
   background-color: #eee9e6;
}

.copy-button::before {
   content: "";
   display: inline-block;
   width: 16px;
   height: 16px;
   margin-right: 3px;
   background-size: contain;
   background-image:url("../images/clipboard.svg");
   position: relative;
   top: 3px;
   background-repeat: no-repeat;
}


td, th {
	padding: 2px 5px;
}

table {
	margin-bottom: 20px;
	border: 1px solid #ddd;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	vertical-align: bottom;
	padding: 8px;
    line-height: 1.42857143;
}

table>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}