body {
  font-family: 'Roboto', sans-serif;
}

.bs-docs-masthead-main {
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom:10px;
}

.bs-docs-header {
	padding-top: 35px;
    padding-bottom: 35px;
}

.bs-docs-section img {
  max-width: 100%
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

strong {
	margin-top: 10px;
}

pre {
	margin-bottom: 15px;
	position:relative;
	padding:30px 15px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}

.copy-button {
   cursor: pointer;
   border-image-source: initial;
   border-image-slice: initial;
   border-image-width: initial;
   border-image-outset: initial;
   border-image-repeat: initial;
   font-size: 10px;
   text-transform: uppercase;
   font-weight: 500;
   color: rgb(121, 85, 72);
   background-color: white;
   position: absolute;
   top: 0px;
   right: 0px;
   border-width: 0px;
   border-style: initial;
   border-color: initial;
   padding: 4px 16px;
   border: 1px solid #d5d5d5;
   border-radius: 3px;
   border-top: 0;
   border-right: 0;
}
.copy-button:hover,.copy-button:focus, .copy-button:active {
   outline: 0;
   background-color: #eee9e6;
}

.copy-button::before {
   content: "";
   display: inline-block;
   width: 16px;
   height: 16px;
   margin-right: 3px;
   background-size: contain;
   background-image:url("../images/clipboard.svg");
   position: relative;
   top: 3px;
   background-repeat: no-repeat;
}


td, th {
	padding: 2px 5px;
}

table {
	margin-bottom: 20px;
	border: 1px solid #ddd;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	vertical-align: bottom;
	padding: 8px;
    line-height: 1.42857143;
}

table>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.bs-docs-masthead, .bs-docs-header {
  color: whitesmoke;
}

.bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a:focus {
  color: #11b8bb;
  border-left: 1px solid #11b8bb;
}

.bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active:focus>a {
  color: #11b8bb;
  border-left: 2px solid #11b8bb;
}

.bs-docs-nav .navbar-nav>li>a:hover, .bs-docs-nav .navbar-nav>.active>a, .bs-docs-nav .navbar-nav>.active>a:hover {
  color: #11b8bb;
  background: white;
}

.bs-docs-masthead, .bs-docs-header {
  background-color: white;
}

.cards-section .item {
    margin-bottom: 30px;
}

.cards-section .item-inner {
    padding: 30px 20px;
    background: #fff;
    position: relative;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.cards-section .item-android .item-inner {
    border-top: 3px solid #75c181;
}

.cards-section .item-android .item-inner .fa {
    color: #75c181;
}

.cards-section .item-apple .item-inner {
    border-top: 3px solid #C0C0C0;
}

.cards-section .item-apple .item-inner .fa {
    color: #C0C0C0;
}

.cards-section .item-web .item-inner {
    border-top: 3px solid #58bbee;
}

.cards-section .item-web .item-inner .fa {
    color: #58bbee;
}

.cards-section .item-platform .item-inner {
    border-top: 3px solid #40babd;
}

.cards-section .item-platform .item-inner .fa {
    color: #40babd;
}

.cards-section .item-phonegap .item-inner {
    border-top: 3px solid #262E3D;
}

.cards-section .item-phonegap .item-inner .fa{
    color: #262E3D;
}

.cards-section .item-configuration .item-inner {
    border-top: 3px solid #F88C30;
}

.cards-section .item-configuration .item-inner .fa{
    color: #F88C30;
}


.item-inner a {
  color: black;
}

.item-inner a:hover {
  text-decoration: none;
  color: #11b8bb;
}

.bs-docs-header h1 {
    font-size: 56px;
    line-height: 1;
}
