
/*
    Created on : Mar 20, 2015, 5:28:06 PM
    Author     : devashish
*/

.modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6 {
    font-family: "Roboto",sans-serif !important;
    font-weight: 300 !important;
}.modal {
    font-size: 12px;
    line-height: 18px;
    border: solid 1px #333;
    vertical-align: middle;
    text-align: left;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
    border-radius: 6px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    border:0 !important;
}.google-prop{
    float:left;
}.modal button.close {
    margin-top:15px;
}.modal-header {
    padding: 0 15px 0 15px;
    border-bottom: none;
}.modal-title {
    height: 48px;
    font-size: 18px;
    line-height: 58px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
}.modal .section-title {
    border-top: solid 1px #ccc;
    text-align: center;
}.modal .section-title h3 {
    position: relative;
    display: inline-block;
    top: -11px !important;
    line-height: 1.4 !important;
    padding: 0 10px;
    margin-bottom: 0;
    font-size: 11px;
    color: #bbb !important;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
}.modal-third-party {
    margin-bottom: 20px;
    text-align: center;
}.btn-google-login:last-child {
    margin-right: 0;
}.btn.third-party.google {
    background-color: #d84936;
    background-image: -moz-linear-gradient(top, #dd4c39, #d14432);
    background-image: -ms-linear-gradient(top, #dd4c39, #d14432);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4c39), to(#d14432));
    background-image: -webkit-linear-gradient(top, #dd4c39, #d14432);
    background-image: linear-gradient(top, #dd4c39, #d14432);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffdd4c39', endColorstr='#ffd14432', GradientType=0);
    border-radius: 3px;
    border: solid 1px #ac3d2f;
}.btn.third-party {
    position: relative;
    height: 30px;
    width: 165px;
    padding: 0 5px;
    border-radius: 3px;
}.btn-google-login {
    width: 118px !important;
    margin-right: 20px;
}.btn .modal-icon {
    position: relative;
    display: block;
    top: 4px;
    margin-right: 4px;
    float: left;
}.btn.third-party .modal-icon {
    position: relative;
    top: 7px;
    margin: 0 8px 0 5px;
}.modal-icon-google-plus-white-active {
    background-position: -464px -80px;
}.modal-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    background-image: url(../images/icons-16x16.png);
    background-repeat: no-repeat;
}.btn.third-party.google .text {
    border-left: solid 1px #ac3d2f;
}.modal .btn span:last-child {
    margin-right: 0px;
}.btn.third-party .text {
    position: relative;
    height: 18px;
    top: 6px;
    width: 68px;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    text-align: center;
}.modal .btn span {
    display: block;
    float: left;
    margin-right: 5px;
}.btn-google-login .text {
    color: #ffffff;
    font-size: 12px;
}.modal-icon-google-plus-white-active {
    background-position: -464px -80px;
}.modal a {
    color: #168eea;
}.modal-body .modal-error {
    background-color: #FFDFDF;
    color: #885E5E;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #FFCFCF;
    font-size: 12px !important;
    text-align: center;

}.error {
    color: #885E5E;
}.modal-body .modal-success, .modal-response {
    background-color: #FFFFFF;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #BFE0EC;
    font-size: 12px !important;
    text-align: center;
}.modal input, .modal textarea, .modal select {
    background-color: #f5f5f5;
}.modal textarea {
    resize: none;

}.modal-body  a:hover{
    color: #11505d;
    text-decoration: underline;
}.modal-footer .col-lg-6 {
    padding: 0px !important;
}.modal-footer-left .btn {
    font-size: 16px;
    text-transform: none;
}.modal-footer-left {
    text-align: left;
}.no-border {
    border: 0px;
}.modal-footer .btn+.btn {
    margin-right: 5px;
}.sidemodal {
    line-height: 18px;
    min-width: 310px;
    right: 0px !important;
    left: auto !important;
    margin: 0px !important;
    border: 0px !important;
    z-index: 2243500 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    height: 420px !important;
    top: auto;
    bottom: 0 !important
}.sidemodal .modal-dialog {
    margin: 0;
    height: 100%;
    transform: translate3d(0,0,0);
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 300px;
}.sidemodal .modal-content{
    border: 0;
    display: table;
    width: 100%;
    right: 0;
    bottom: 0;
    height: 100%;
    border-spacing: 0;
    outline: 0;
    table-layout: fixed;
    box-shadow: 0 8px 8px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 8px 17px rgba(0,0,0,0.2);
    border-radius: 0;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}.sidemodal .form-group.last {
    margin-bottom: 0;
}.sidemodal input, .sidemodal select, .sidemodal textarea {
    border: 0;
    background-color: #E7F1F5;
}.sidemodal .section-title h3 {
    top: -27px !important;
}.sidemodal .section-separator {
    margin-top: 20px;
    height: 20px;
}.sidemodal .btn-default {
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}.sidemodal .btn-default:hover, .sidemodal .btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #fff;
    background-color: #219ab3;
}.chat-login-launcher {
    white-space: pre;
    position: fixed;
    will-change: top,left;
    z-index: 2243000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    -webkit-transform: translateZ(0);
}.chat-login-launcher-link {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    background-size: 22px 22px;
    box-sizing: content-box;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
    outline: 0;
    background-position: center;
    background-color: #0071b2;
    border-color: #00498a;
    -webkit-user-drag: none;
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
    -webkit-transition: -webkit-transform 150ms cubic-bezier(.4,0,1,1);
    transition: transform 150ms cubic-bezier(.4,0,1,1);
}.float-icon-chat {
    display: inline-block;
    background: url('https://www.applozic.com/resources/sidebox/css/app/images/mck-plugin-sprite.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position: -10px -512px;
    width: 22px;
    height: 22px;
    top: -6px;
    left: -19px;
    position: relative;
}
.chat-login-launcher .chat-login-launcher-link {
    background-color: #11b8bb !important;
    border: 0 !important;
}

.chat-login-launcher a {
  text-decoration: none !important;
}
