<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.htmlTitle}}</title>
  <meta  property="og:title" content="Applozic - Chat and Messaging SDK Documentation">
  <meta name="description" content="Applozic is the reliable, secure and best CHAT and MESSAGING SDK, enables you to add messaging in just few minutes on your android, iOS, phonegap, ionic and web apps.">
  <meta property="og:description" content="Chat and Messaging SDK Documentation">
  <meta property="og:url" content="https://www.applozic.com/docs/index.html">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Applozic">
  <meta name="keyword"  content="Applozic,open,chat,API,instant,messaging,best,develop,sdk,android,ios,phonegap,web,plugin,solution,website,platform,in-app,messaging,messenger,integration,client,developers,real-time,docs,async,application,in-app-messaging,features,android-chat-sdk,
  android-web-plugin,instant-messaging-app,application-like-WhatsApp,chat-integration">


  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{{site.github.url}}/assets/font-awesome/css/font-awesome.min.css">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/docs.min.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/style.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/applozic.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/modal.css" rel="stylesheet">
  <link href="https://www.applozic.com/resources/sidebox/css/app/mck-sidebox-1.0.min.css" rel="stylesheet">


  <link href="https://www.applozic.com/docs/index.html" rel="canonical">
  <style>
    #content {
    /*  background:{{site.header.color1}};
      background:linear-gradient(135deg, {{site.header.color1}}, {{site.header.color2}});*/
      background-image: url('{{site.github.url}}/assets/images/main-background.jpg');
    }

    {% if page.isHome %}
      body {
        background-color: whitesmoke;
      }

      #content:after {
        background:linear-gradient(135deg, transparent 50px, whitesmoke 50px);
      }
    {% endif %}
  </style>

  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<!--  <script type="text/javascript" language="JavaScript" src="{{site.github.url}}/assets/js/jquery.i18n.properties.min.js"></script>
-->
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js"></script>
  <script src="{{site.github.url}}/assets/js/docs.min.js"></script>

  <script src="{{site.github.url}}/assets/js/anchor.min.js"></script>
  <script src="{{site.github.url}}/assets/raty/jquery.raty.js"></script>
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1715739875381241";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!-- Main navigation
  =========================================== -->
  <header class="navbar navbar-static-top bs-docs-nav" id="top">
    <div class="container">
      <div class="navbar-header" role="banner">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="brand-menu" class="navbar-brand" href="{{site.github.url}}/index.html">
          <img src="{{site.github.url}}/assets/images/applozic_transparent.png" />
        </a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% assign sorted_pages = site.pages | sort:"order" %}
          {% for p in sorted_pages %}
            {% if p.isHome != true and p.hide != true and p.title !=  %}
            <li {% if page.title == p.title %}class="active"{% endif %}>
              <a href="{{site.github.url}}{{p.url}}">{{p.title}}</a>
            </li>
            {% endif %}
          {% endfor %}

          <li>
            <a class="" href="https://www.applozic.com/signin.html">SignIn</a>
          </li>
          <li>
            <a class="header-link btn btn-signup" href="https://www.applozic.com/signup.html" onclick="_gaq.push(['_trackEvent', 'Click', 'Signup', 'From_Docs_Header']);">SignUp For Free</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>


  <!-- Header
  =========================================== -->
  {% if page.showDownload %}
  <div class="bs-docs-masthead bs-docs-masthead-main" id="content">
    <div class="container">
      <h1 class="home-title">{{page.heading}}</h1>
      <p class="lead">{{page.description}}</p>
      <p class="lead">
        <a href="{{page.downloadUrl}}" class="btn btn-outline-inverse btn-lg">Github</a>
      </p>
      <p class="version">Currently v{{page.version}}</p>
    </div>
  </div>

  {% else %}
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>{{page.title}}</h1>
      <p>{{page.description}}</p>
    </div>
  </div>
  {% endif %}

  {% if page.isHome == false %}

   <div class="container">
       <div class="row">

	      <div class="">
	        <ul class="bs-docs-social-buttons">
	         {% if page.isHome and site.githubButton.user and site.githubButton.repo %}
	          <li>
	            <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user={{site.githubButton.user}}&amp;repo={{page.githubButton.repo}}&amp;type=watch&amp;count=true" width="90" height="20" title="Star on GitHub"></iframe>
	          </li>
	        {% endif %}
	        {% if site.githubButton.user and page.github %}
	          <li>
	            <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user={{site.githubButton.user}}&amp;repo={{page.github}}&amp;type=watch&amp;count=true" width="90" height="20" title="Star on GitHub"></iframe>
	          </li>
	          <li>
	            <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user={{site.githubButton.user}}&amp;repo={{page.github}}&amp;type=fork&amp;count=true" width="90" height="20" title="Fork on GitHub"></iframe>
	          </li>
	        {% endif %}
	        {% if site.twitter.enabled %}
	          <li>
	            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{site.github.url}}" data-count="horizontal" data-via="{{site.twitter.via}}" data-text="{{site.name}}" data-hashtags="{{site.twitter.hash}}">Tweet</a>
	          </li>
	        {% endif %}
	        {% if site.twitter.account %}
	          <li>
	            <a href="https://twitter.com/{{site.twitter.account}}" class="twitter-follow-button" data-show-count="true">Follow @{{site.twitter.account}}</a>
	          </li>
	        {% endif %}
	        {% if site.facebook.enabled %}
	          <li>
	            <div class="fb-like" data-href="{{site.github.url}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
	          </li>
	        {% endif %}
	        </ul>
	      </div>
	   </div>
    </div>
    {% endif %}


  <div class="container bs-docs-container">
    <div class="row">
      <!-- Content
      =========================================== -->

    {% if page.isHome %}
        <div class="col-md-9" role="main">
    {% endif %}

		{% if page.isHome == false %}
      <div class="docs-main-section col-md-9" role="main">

        <section class="bs-docs-section">
    		  <h1 id="first-level" class="page-header">Overview</h1>
    		  <p>{{page.overview}}</p>

    		</section>
        <!-- wrap each main section with "bs-docs-section" class -->
		<section class="bs-docs-section application-key">
		  <!-- each section must contain ONE h1 with an id and optionally a "page-header" class -->
		  <h1 id="first-level" class="page-header">Application Key</h1>
		  <p>Application Key is a unique identifier provided by Applozic for each application.</p>
		  <p><span><b>New user?</b></span>  <a href="https://www.applozic.com/signup.html" class="btn btn-md btn-outline">Get Application Key for FREE</a></p>
		  <p><span><b>Already Registered?</b></span>  <a href="https://www.applozic.com/admin/dashboard.html" target="_blank" class="btn btn-md btn-outline">Get Application Key</a></p>
		</section>

		{% endif %}

        {{content}}


        {% if page.isHome == false %}

                {% if page.isApi != true %}

			    <section class="bs-docs-section">
						 <h1 id="overview" class="page-header">Getting Started</h1>
						<div id="integration-doc"></div>
            <div class="rate"><h3>Rate documentation and help us improve</h3> <span class="rating"></span></div>
					</section>

					<section class="bs-docs-section">
						 <h1 id="customization" class="page-header">UI Customization</h1>
						<div id="customization-doc"></div>
					</section>

					<section class="bs-docs-section">
						<h1 id="advanced" class="page-header">Advanced</h1>
						<div id="advanced-doc"></div>
					</section>

				{% endif %}


		<!---
		<section class="bs-docs-section">
			 <h1 id="sample" class="page-header">Sample Code</h1>
			<div id="sample-doc"></div>
		</section>
		-->

        <section class="bs-docs-section">
          <h1 id="github" class="page-header">Github</h1>
              <div id="github-doc">
                        <ul class="bs-docs-social-buttons">
                        <li>


                      <iframe class="github-btn btn-md-outline" src="https://ghbtns.com/github-btn.html?user={{site.githubButton.user}}&amp;repo={{page.github}}&amp;type=watch&amp;count=true" width="90" height="20" title="Star on GitHub"></iframe>
                      </li>

                      <li>

                      <iframe class="github-btn btn-md-outline" src="https://ghbtns.com/github-btn.html?user={{site.githubButton.user}}&amp;repo={{page.github}}&amp;type=fork&amp;count=true" width="90" height="20" title="Fork on GitHub"></iframe>
                      </li>

                      </ul>
              </div>
        </section>

		 <section class="bs-docs-section">
			 <h1 id="chat" class="page-header">Help</h1>
			 <p>We provide quick support at <a href="http://stackoverflow.com/questions/tagged/applozic" target="_blank">StackOverflow</a> when you tag using applozic.
			 <p>You can also reach out to us at help@applozic.com</p>
			 <p>For immediate help, Chat with Applozic team.</p>
			 <p><a id="chat-help" href="#" class="btn btn-md btn-outline">Chat</a></p>
		</section>

		<section class="bs-docs-section">
			 <h1 id="feature-requests" class="page-header">Issues</h1>
			 <p>File feature requests, issues or bug reporting in Github</p>
			 <p><a href="{{page.downloadUrl}}/issues" target="_blank" class="btn btn-md btn-outline">File issue</a></p>
		</section>

		<section class="bs-docs-section">
			 <h1 id="demo" class="page-header">Demo</h1>
			 <p>To schedule a demo write to us at growth@applozic.com or click the below button.</p>
			 <p><a href="https://calendly.com/devashish-applozic" target="_blank" class="btn btn-md btn-outline">Schedule Demo</a></p>
		</section>

		 <section class="bs-docs-section">
			 <h1 id="contact" class="page-header">Contact</h1>
			 <p>Couldn't find what you are looking for? No worries, send us a mail at contact@applozic.com and we will get back to you.</p>
			 <p><a href="https://www.applozic.com/contact.html" target="_blank" class="btn btn-md btn-outline">Contact Us</a></p>
		</section>

<!--
    <section class="bs-docs-section">
      <h1 id="comments" class="page-header">Discussion</h1>
      <div class="fb-comments" data-href="https://www.applozic.com/docs/android-chat-sdk.html" data-numposts="5"></div>
    </section>
-->
		{% endif %}

      </div>

      <!-- Page navigation
      =========================================== -->
      <div class="col-md-3" role="complementary">
        <div class="bs-docs-sidebar hidden-print">
          <ul class="nav bs-docs-sidenav">
          </ul>
          <a class="back-to-top" href="#top">
            <i class="glyphicon glyphicon-chevron-up"></i> Back to top
          </a>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer
  =========================================== -->
  <footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
      <div class="bs-docs-social">
        <ul class="bs-docs-social-buttons">
         {% if page.isHome and site.githubButton.user and site.githubButton.repo %}
          <li>
            <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user={{site.githubButton.user}}&amp;repo={{page.githubButton.repo}}&amp;type=watch&amp;count=true" width="90" height="20" title="Star on GitHub"></iframe>
          </li>
        {% endif %}
        {% if site.githubButton.user and page.github %}
          <li>
            <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user={{site.githubButton.user}}&amp;repo={{page.github}}&amp;type=watch&amp;count=true" width="90" height="20" title="Star on GitHub"></iframe>
          </li>
          <li>
            <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user={{site.githubButton.user}}&amp;repo={{page.github}}&amp;type=fork&amp;count=true" width="90" height="20" title="Fork on GitHub"></iframe>
          </li>
        {% endif %}
        {% if site.twitter.enabled %}
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{site.github.url}}" data-count="horizontal" data-via="{{site.twitter.via}}" data-text="{{site.name}}" data-hashtags="{{site.twitter.hash}}">Tweet</a>
          </li>
        {% endif %}
        {% if site.twitter.account %}
          <li>
            <a href="https://twitter.com/{{site.twitter.account}}" class="twitter-follow-button" data-show-count="true">Follow @{{site.twitter.account}}</a>
          </li>
        {% endif %}
        {% if site.facebook.enabled %}
          <li>
            <div class="fb-like" data-href="{{site.github.url}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
          </li>
        {% endif %}
        {% if site.facebook.profileUrl %}
          <li>
            <div class="fb-follow" data-href="{{site.facebook.profileUrl}}" data-layout="button_count" data-show-faces="false"></div>
          </li>
        {% endif %}
        </ul>
      </div>

      <p>
        Licensed under <a href="{{site.licenseUrl}}" target="_blank">{{site.license}}</a>,
        documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
      </p>
      <p>
        Documentation template by <a href="https://www.applozic.com">Applozic team</a>,
        generated with <a href="https://github.com/AppLozic/jekyll-bootstrap-doc">Jekyll Bootstrap Doc</a>
      </p>

      <p>
        <a href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badgeLight.png" alt="Heap | Mobile and Web Analytics" /></a>
      </p>

      <ul class="bs-docs-footer-links muted">
      {% if page.showDownload %}
      <li>Currently v{{page.version}}</li>
      {% endif %}
      {% for p in page.footerLinks %}
        <li>&middot;</li>
        <li><a href="{{p.url}}">{{p.title}}</a></li>
      {% endfor %}
      </ul>

    </div>
  </footer>

  <script type="text/javascript">
    var README_DATA = new Object();
  </script>

  {% if page.isHome == false %}
    <script type="text/javascript" language="JavaScript" src="{{site.github.url}}/assets/js/readme/{{page.github}}.js"></script>
  {% endif %}

  <script src="{{site.github.url}}/assets/js/jquery-gh/jquery.gh-readme.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  <script src="{{site.github.url}}/assets/js/clipboard.min.js"></script>


  <!-- Applozic scripts
 =========================================== -->
	<script>

    $(document).ready(function(){
      //anchors.options.visible = 'always';
      //icon: '¶'
      anchors.options = {
          placement: 'left',
          visible: 'always'
        };

        loadDoc("integration-doc", "INTEGRATION-DOC.md");
        loadDoc("customization-doc", "CUSTOMIZATION-DOC.md");
        loadDoc("advanced-doc", "ADVANCED-DOC.md");
        //loadDoc("sample-code", "SAMPLE-CODE-DOC.md");
        loadDoc("platform-doc", "PLATFORM-DOC.md");
        loadDoc("configuration-doc", "CONFIGURATION-DOC.md");


        /*jQuery.i18n.properties({
            name:'Messages',
            path:'{{site.github.url}}/assets/bundle/',
            mode:'both',
            async: true,
            callback: function() {
              loadDoc("integration-doc", "INTEGRATION-DOC.md");
              loadDoc("customization-doc", "CUSTOMIZATION-DOC.md");
              loadDoc("advanced-doc", "ADVANCED-DOC.md");
              //loadDoc("sample-code", "SAMPLE-CODE-DOC.md");
              loadDoc("platform-doc", "PLATFORM-DOC.md");
              loadDoc("configuration-doc", "CONFIGURATION-DOC.md");
            }
        });*/

		 $('[data-spy="scroll"]').each(function () {
			var $spy = $(this).scrollspy('refresh');
		});

    //$(this).scrollTop(0);

    $('.rating').raty({
      starOff : '{{site.github.url}}/assets/raty/images/star-off.png',
      starOn  : '{{site.github.url}}/assets/raty/images/star-on.png',
      click: function(score, evt) {
        ga('send', 'event', 'Documentation', 'Rating', 'Docs_{{page.github}}', score);
      }
    });

   });


   var calls = 0;
   var completed = 0;

   function loadDoc(elemId, docPath) {
     calls++;
     if ($('#' + elemId).length < 1) {
       completed++;
       return;
     }
     var options = {
           owner: '{{site.githubButton.user}}',
               repo: '{{page.github}}',
               path: docPath
           };
     $('#' + elemId).readme(options).then(function(){
       appendClipboard(elemId);
       anchors.add('#' + elemId + ' h1, #' + elemId + ' h2, #' + elemId + ' h3' + ', #' + elemId + ' h4' + ', #' + elemId + ' h5');

       completed++;
       if (completed >= calls) {
           buildSideMenu();
           scrollToHash();
       }
     });
   }

   function scrollToHash() {
       var hash = location.hash.replace('#','');

       if(hash != '') {
         if ($('#' + hash)) {
           $('html, body').animate({ scrollTop: $('#' + hash).offset().top}, 1000);
         }
       }
   }

	function appendClipboard(elemId) {
    	var pre = $('#' + elemId + ' pre');
        for (var i = 0; i < pre.length; i++) {
           var button  = document.createElement('button');
                   button.className = 'copy-button';
                   button.textContent = 'Copy';
                   pre[i].appendChild(button);
       }

       var copyCode = new Clipboard('#' + elemId + ' .copy-button', {
		   	target: function(trigger) {
		       return trigger.previousElementSibling;
	   		}
		});

		copyCode.on('success', function(event) {
               event.clearSelection();
               event.trigger.textContent = 'Copied';
               window.setTimeout(function() {
                       event.trigger.textContent = 'Copy';
               }, 2000);
       });

}

</script>

<!-- Support Chat -->
<div id="chatLoginModal" class="sidemodal modal fade" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&#88;</span>
                </button>
                <h2 class="modal-title">Support Chat</h2>
            </div>
            <div class="modal-body">
                <div class="section-title">
                    <h3>Login detail</h3>
                </div>
                <p id="error-chat-login" class="modal-error hide"></p>
                <div class="modal-form">
                    <form id="form-chat-login" class="vertical">
                        <div class="form-group">
                            <input class="form-control" id="userName" name="userName" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="companyName" name="companyName" placeholder="Company" required />
                        </div>
                        <div class="form-group last last-child text-center">
                            <button type="submit" id="submit-chat-login" class="btn btn-primary">
                                Start chat
                            </button>
                        </div>
                    </form>
                </div>
                <div class="section-title section-separator">
                    <h3>Or</h3>
                </div>
                <div class="form-group last last-child text-center">
                    <button type="button" id="guestLogin" class="btn btn-default">
                        Chat as guest
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="chat-login-launcher">
    <a href="#" class="chat-login-launcher-link" name="chatLoginModalLink" onclick="_gaq.push(['_trackEvent', 'Click', 'Support_Chat', 'From_Docs_{{page.github}}']);">
        <span class="float-icon-chat"></span>
    </a>
</div>
<script src="{{site.github.url}}/assets/js/chat.js"></script>
<!-- Support Chat -->

 <!-- Applozic scripts
  =========================================== -->


  <!-- Async scripts
  =========================================== -->
  {% if site.header.trianglify %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>
  <script>trianglify('{{site.header.color1}}', '{{site.header.color2}}');</script>
  {% endif %}

  {% if site.twitter.enabled or site.twitter.account %}
  <script>
    window.twttr = (function (d,s,id) {
      var t, js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
      js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
      return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
    }(document, "script", "twitter-wjs"));
  </script>
  {% endif %}

<!--
  {% if site.facebook.enabled or site.facebook.profileUrl %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  {% endif %}
-->

  {% if site.analytics.account and site.analytics.domain %}
  <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');


    ga('create', '{{site.analytics.account}}', 'auto');
    ga('send', 'pageview');
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{site.analytics.account}}']);
    _gaq.push(['_setDomainName', '{{site.analytics.domain}}']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();


    window.heap = window.heap || [], heap.load = function (e, t) {
       window.heap.appid = e, window.heap.config = t = t || {};
       var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script");
       a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
       var n = document.getElementsByTagName("script")[0];
       n.parentNode.insertBefore(a, n);
       for (var o = function (e) {
           return function () {
               heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
           }
       }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)
           heap[p[c]] = o(p[c])
   };
   heap.load("329668642");
</script>

  </script>
  {% endif %}

<script src="//load.sumome.com/" data-sumo-site-id="d4f56ab7b00f3b71fb082d8c3ddf8ff4d4e264c55621760142bf2f41ffc4343a" async="async"></script>

</body>
</html>
